
.productSlider :global(.swiper-button-prev) {
  color: #7c2808;
}

.productSlider :global(.swiper-button-next) {
  color: #7c2808;
}

.productSlider :global(.swiper-pagination-bullet) {
  width: 20px;
  height: 20px;
}

.productSlider :global(.swiper-pagination-bullet-active){
    background: #7c2808;
}

.productSlider {
  width: 100%;
}

.productSlider img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}