@import "tailwindcss";
@plugin "daisyui" {
  themes: caramellatte;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

.container{
  margin-left: auto;
  margin-right: auto;
  @apply px-3;
}